@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.marquee {
    animation: marquee 18s linear infinite;
}

.marquee:hover {
    animation-play-state: paused;
}

@keyframes float {
    0% {
        transform: translateY(0px);
        opacity: 0.4;
    }

    50% {
        transform: translateY(-20px);
        opacity: 0.8;
    }

    100% {
        transform: translateY(0px);
        opacity: 0.4;
    }
}

.particle {
    animation: float 6s ease-in-out infinite;
}

@keyframes gradientMove {
    0% {
        transform: translateX(-10%) translateY(-10%);
    }

    50% {
        transform: translateX(10%) translateY(10%);
    }

    100% {
        transform: translateX(-10%) translateY(-10%);
    }
}

.gradient-glow {
    animation: gradientMove 12s ease-in-out infinite;
}